<!-- about.html -->
{% extends "base.html" %}

{% block title %}Public Service Online Crime Reporting System{% endblock %}

{% block content %}
<article>
            <h2>About Us</h2>

            <section>
                <div class="about-item">
                    <h3>Meet Kingsley</h3>
                    <p>Kingsley is a dedicated final year student at Ekiti State University, pursuing a degree in Software Engineering. With a passion for technology and innovation, he is committed to leveraging his skills to contribute positively to society.</p>
                </div>

                <div class="about-item">
                    <h3>Project Overview</h3>
                    <p>As part of his final year project, Kingsley is developing the Public Service Online Crime Reporting System. This system aims to provide a secure and efficient platform for residents and visitors of Nigeria to report incidents of cybercrime, fraud, and other online offenses.</p>
                </div>

                <div class="about-item">
                    <h3>Our Mission</h3>
                    <p>Our mission is to enhance community safety and security by empowering individuals to report online crimes promptly and effectively. We strive to create a safer digital environment through proactive measures and collaboration with law enforcement agencies.</p>
                </div>

                <div class="about-item">
                    <h3>Get Involved</h3>
                    <p>We encourage active participation from the community in utilizing our platform. Your support and feedback are invaluable as we continue to develop and improve the online crime reporting system.</p>
                </div>
            </section>
        </article>
{% endblock %}
