<!-- admin_dashboard.html -->
{% extends "base.html" %}

{% block title %}Public Service Online Crime Reporting System{% endblock %}

{% block content %}
<article>
    
        

    <main class="container">
        <div class="container">
            <h1>Admin Dashboard</h1>
            <p>Welcome, Admin Level {{ admin_level }}</p>
        </div>
        <p>Here you can review reports and manage the system.</p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.title }}</td>
                        <td>{{ report.description }}</td>
                        <td>{{ report.status }}</td>
                        <td><a href="{{ url_for('main.review_report', report_id=report.id) }}" class="btn">Review</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</article>
{% endblock %}

