<!-- about.html -->
{% extends "base.html" %}

{% block title %}Public Service Online Crime Reporting System{% endblock %}

{% block content %}
<article>
            <h2>About Us</h2>

            <section>
                <div class="about-item">
                    <h3>Meet Kingsley</h3>
                    <p>Kingsley is a dedicated final year student at Nigeria University, pursuing a degree in Software Engineering. With a passion for technology and innovation, he is committed to leveraging his skills to contribute positively to society.</p>
                </div>

                <div class="about-item">
                    <h3>Email:</h3>
                    <p> obiwuruk@gmail.com.</p>
                </div>

                <div class="about-item">
                    <h3>Phone No</h3>
                    <p>081-4079-9407.</p>
                </div>

                <div class="about-item">
                    <h3>Twitter</h3>
                    <p>sirhking</p>
                </div>
            </section>
        </article>
{% endblock %}
