<!-- index.html -->
{% extends "base.html" %}

{% block title %}Public Service Online Crime Reporting System{% endblock %}

{% block content %}

    <article>
        <h1>Contact Information</h1>
    
        <section>
            <h2>Nigerian Police</h2>
            <p><strong>General Contact:</strong></p>
            <ul>
                <li>Phone: 08038305707, 092340868, 092341709, 092340756</li>
                <li>Email: <a href="mailto:fpro@nigeriapolice.org">fpro@nigeriapolice.org</a></li>
                <li>Website: <a href="https://www.npf.gov.ng" target="_blank">Nigeria Police Force</a></li>
            </ul>
            <p><strong>Lagos Command:</strong></p>
            <ul>
                <li>Phone: 08063299264, 08065154338</li>
            </ul>
            <p><strong>Public Relations Officers:</strong></p>
            <ul>
                <li>CSP Muyiwa Adejobi, Force Public Relations Officer, Abuja: 08037168147</li>
                <li>CSP El-Mustapha Sani, O/C Public Complaint Bureau (PCB): 08065510954</li>
                <li>CSP Femi Adedeji, Editor – Newdawn Newspaper: 08033867284</li>
                <li><a href="https://www.abujacity.com/safety-things-to-know/police-contact-info" target="_blank">More contacts here</a></li>
            </ul>
        </section>
    
        <section>
            <h2>Economic and Financial Crimes Commission (EFCC)</h2>
            <p><strong>General Contact:</strong></p>
            <ul>
                <li>Phone: +234-9-9044752, +234-9-9044753</li>
                <li>Email: <a href="mailto:info@efccnigeria.org">info@efccnigeria.org</a></li>
                <li>Website: <a href="https://www.efccnigeria.org" target="_blank">EFCC</a></li>
            </ul>
            <p><strong>Lagos Office:</strong></p>
            <ul>
                <li>Phone: +234-1-2701747, +234-1-2637010</li>
                <li>Address: 15A Awolowo Road, Ikoyi, Lagos</li>
            </ul>
        </section>
    
        <section>
            <h2>National Drug Law Enforcement Agency (NDLEA)</h2>
            <p><strong>General Contact:</strong></p>
            <ul>
                <li>Phone: +234-9-5245467, +234-9-5245468</li>
                <li>Email: <a href="mailto:info@ndlea.gov.ng">info@ndlea.gov.ng</a></li>
                <li>Website: <a href="https://www.ndlea.gov.ng" target="_blank">NDLEA</a></li>
            </ul>
            <p><strong>Lagos Office:</strong></p>
            <ul>
                <li>Phone: +234-1-2718999</li>
                <li>Address: 4, Shaw Road (Now Lateef Jakande Road), Ikoyi, Lagos</li>
            </ul>
        </section>
    </article>
    

{% endblock %}
